<div class="container">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Insira seu peso" aria-label="Insira seu peso" aria-describedby="basic-addon2">
    <span class="input-group-text" id="basic-addon2">kg</span>
  </div>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Insira sua altura" aria-label="Insira sua altura" aria-describedby="basic-addon2">
    <span class="input-group-text" id="basic-addon2">m</span>
  </div>
  <div>
    <button class="btn-primary btn">Calcular IMC</button>
  </div>
</div>

